.bagel-page-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;

}





#bagel-gif{
    border-style: double;
        border-color: black;
    border-radius:10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;

} 

