body{
    
    background-color:#e9e9e9;
}

pre{
    font-size:1.5rem;
}


/* .right-box{
    flex:0;
    min-height:100dvh;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.4);
}

.left-box{
    flex:2;
    margin:5%;
} */


.home-page-div{
    display:flex;
    flex-direction:column;
    align-items:center; /*  row wise*/
    justify-content:flex-start; /*  column wise*/
    height:100vh;
    
}
.name{

    font-family: 'Inter';
    text-align:center;
}
.home-name-div{
    margin-top: 10%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    
        /*  row wise*/

}
.home-description{
    color: dimgray;
    font-family: 'IBMPlexMono';
    font-size: 1.5rem;
    text-align:center;
    font-weight:600;
    
}
.home-link-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between; /* this dienst work because width is too small, if we set it to 50% it;; work*/
    gap:2rem;
    margin-top:2%;
}

.home-name{
    font-family:'IBMPlexMono';
    font-size:3.6rem;
}


.link {
    position: relative;
    width: fit-content;
    font-family: 'IBMPlexMono';
    font-weight: bold;
    text-decoration: none;
    color:black;
    font-size:larger;
}

.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0d0d0d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



a[href="/about"] {
    color: #0087ff;
}

a[href="/projects"] {
    color: #ffba01;
}

a[href="/contact"] {
    color:#7ad926;
}