
.card{
    min-height:20rem;
    min-width:15rem;
    padding:10%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: white;
    border-radius:0.5em;
    /*box-shadow:10px 10px 30px rgba(0, 0, 0, 0.1);
    */-webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -ms-border-radius:0.5em;
    -o-border-radius:0.5em;
    transition: box-shadow 0.25s ease;
    -webkit-transition: box-shadow 0.25s ease;
    -moz-transition: box-shadow 0.25s ease;
    -ms-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
}

.card:hover{
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4); */
        box-shadow: 20px 15px rgba(0, 0, 0, 0.2);
}


.card-title {
    text-align: center;
    font-size:2em;
    font-family:'Inter';
}


.project-description {
    font-family: "IBMPlexMono";
    /* font-family: "Nunito"; */
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;
    font-size: large;
    font-style:bold;
    font-weight:450;
    color:#0087ff;
}



.underlineOnHoverStyle {

    text-decoration: none;
}



.linkStyle {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    color: black;
}

.linkStyle:hover {
    text-decoration: none;
}


.dot{

    height:12px;
    width:12px;
    background-color:blue;
    border-radius:50%;
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.dot-grid{
    position:absolute;
    display:flex;
    align-items:flex-start;
    gap:1em;
}