.project-page-div{
    display: flex;
    flex-direction: column;
    justify-content:center;

    /* justify-content: center; */
    /*  column wise*/
    min-height: 100vh;
    
}

.project-container {
    /* top right bottom left */

    padding:5%;
    align-self:center;
    width:70%;
    display: grid;
    grid-gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));



}

.project-page-title{
    margin-top:5%;
    text-align:center;
    font-size: 4rem;
    font-family: 'Inter';
    color:#e98074;
    /* border-bottom: 2px solid #01040e; */
    width:fit-content;
    /* background-color: rgba(255, 255, 255, 0.357); */
    padding: 1%;
    border-radius:0.5em;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -ms-border-radius:0.5em;
    -o-border-radius:0.5em;
}
